ul, 
ol {
list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: Roboto, 'Raleway',
        sans-serif;
}

body {
    color: #434455;
}

.logotype-span {
    color: #2E2F42;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.67;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.logotype {
color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.67;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.menu-link {
    color:  #2E2F42;
        /* Body Medium */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
    color:#404BBF;
}

.contact-link {
    color:  #434455;
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color:#404BBF;
}

.hero {
    background-color: #2E2F42;
}

.title-hero {
    color: #FFF;
        text-align: center;
        /* Header 1 */
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        /* 107.143% */
        letter-spacing: 0.02em;
}

.button-hero {
    color: #FFF;
    background-color:#4D5AE5 ;
        /* Button Text */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.04em;
}

.button-hero:hover,
.button-hero:focus {
background-color:#404BBF;
}

.main-item {
    color: var(--NAVY-BLUE, #2E2F42);
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}

.main-text {
    color: var(--SLATE, #434455);
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}

.team-list {
    text-align: center;
}

.team {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        /* Header 2 */
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.team-person {
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}

.team-position{
    color: var(--SLATE, #434455);
    
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}

.portfolio {
    color: var(--NAVY-BLUE, #2E2F42);
        /* Header 2 */
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.portfolio-item {
    color: var(--NAVY-BLUE, #2E2F42);
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}

.portfolio-text {
    color: var(--SLATE, #434455);
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}